// 設定文字自適應功能
$utilities: map-merge(
  $utilities,
  (
    "font-size": map-merge(
      map-get($utilities, "font-size"),
      (responsive: true)
    ),
  )
);

// 設定邊框半徑自適應功能
$utilities: map-merge(
  $utilities,
  (
    "radius": (
      property: 'border-radius',
      responsive: true,
      values: (
        0: 0,
        1: 12px,
        2: 16px,
        3: 20px,
        4: 40px,
        5: 48px,
        6: 80px,
        7: 100px,
      )
    )
  )
);



