<footer class="bg-dark py-lg-12 py-8 px-5">
    <div class="container">
        <div class="row align-items-center mb-lg-3 mb-8">
            <div class="col-lg-6">
                <img src="/assets/images/logo-white.svg" alt="L'Learning" width="200" class="mb-lg-0 mb-7">
            </div>
            <div class="col-lg-6">
                <ul class="list-unstyled d-flex flex-lg-row flex-column gap-6 justify-content-end mb-0">
                    <li><a href="#" class="link-light">常見問題</a>
                    <li><a href="#" class="link-light">關於我們</a>
                    <li><a href="#" class="link-light">隱私權政策</a>
                    <li><a href="#" class="link-light">使用者條款</a>
                </ul>
            </div>
        </div>
        <div class="row align-items-end flex-row-reverse">
           
            <div class="col-lg-6">
                <ul class="social-media list-unstyled mb-0 d-flex gap-3 justify-content-lg-end mb-lg-0 mb-7">
                    <li><a href="#" class="| btn btn-outline-light rounded-circle"><i class="bi bi-line"></i></a></li>
                    <li><a href="#" class="| btn btn-outline-light rounded-circle"><i class="bi bi-youtube"></i></a></li>
                    <li><a href="#" class="| btn btn-outline-light rounded-circle"><i class="bi bi-facebook"></i></a></li>
                </ul>
            </div>
            <div class="col-lg-6">
                <small class="fs-lg-8 fs-9">copyright © 2024 LEARNING 課程網站 All Rights Reserved.</small>
            </div>
        </div>
    </div>
</footer>