<header class="pt-lg-7 pb-lg-3 ">
    <nav
        class="desktop-navbar d-lg-flex d-none navbar navbar-expand-lg bg-white rounded-pill shadow py-3 px-7 position-relative">
        <a class="navbar-brand me-5" href="index.html">
            <img src="/assets/images/logo.png" alt="L'Learning">
        </a>
        <button class="btn dropdown-toggle px-5" type="button" data-bs-toggle="dropdown" data-bs-close="outside"
            aria-expanded="false">探索</button>
        <div class="dropdown-menu position-absolute mt-2 start-50 translate-middle-x">
            <div class="d-flex bg-white">
                <ul class="list-unstyled dropdown-menu-list dropdown-menu-list__first bg-neutral-100">
                    <li class="mb-2"><span class="dropdown-item-text">探索全部</span></li>
                    <li><a class="dropdown-item" href="#">音樂</a></li>
                    <li><a class="dropdown-item" href="#">攝影</a></li>
                    <li><a class="dropdown-item" href="#">程式</a></li>
                    <li><a class="dropdown-item" href="#">藝術</a></li>
                    <li><a class="dropdown-item" href="#">人文</a></li>
                    <li><a class="dropdown-item" href="#">行銷</a></li>
                    <li><a class="dropdown-item" href="#">投資理財</a></li>
                    <li><a class="dropdown-item" href="#">心靈成長</a></li>
                    <li><a class="dropdown-item" href="#">職場技能</a></li>
                    <li><a class="dropdown-item" href="#">生活品味</a></li>
                </ul>
                <ul class="list-unstyled dropdown-menu-list dropdown-menu-list__second border-start border-end">
                    <li class="mb-2"><span class="dropdown-item-text" href="courses.html">所有程式</span></li>
                    <li><a class="dropdown-item" href="#">程式入門</a></li>
                    <li><a class="dropdown-item" href="#">網頁前端</a></li>
                    <li><a class="dropdown-item" href="#">網頁後端</a></li>
                    <li><a class="dropdown-item" href="#">網站架設</a></li>
                    <li><a class="dropdown-item" href="#">資訊安全</a></li>
                    <li><a class="dropdown-item" href="#">程式語言</a></li>
                    <li><a class="dropdown-item" href="#">遊戲開發</a></li>
                    <li><a class="dropdown-item" href="#">資料科學</a></li>
                    <li><a class="dropdown-item" href="#">人工智慧</a></li>
                    <li><a class="dropdown-item" href="#">量化分析</a></li>
                </ul>
                <ul class="list-unstyled dropdown-menu-list dropdown-menu-list__third px-5 py-2">
                    <li class="pb-3  d-flex gap-2 align-items-center fw-semibold text-neutral-400">
                        <img src="/assets/images/ic_fire.svg" alt="熱門" width="24">
                        熱門網頁前端課程
                    </li>
                    <li>
                        <a href="courses-detail.html" class="d-flex gap-2 border-top pt-3">
                            <div class="course-cover position-relative">
                                <span class="badge text-bg-alert fw-normal position-absolute">8折</span>
                                <img src="/assets/images/course-5.png" alt="小白也會！從零開始學習 Python 程式設計" width="100"
                                    height="100" class="object-fit-cover rounded">
                            </div>
                            <div class="course-text">
                                <p class="mb-3 fw-semibold text-black">小白也會！從零開始學習 Python 程式設計</p>
                                <div class="d-flex border-bottom justify-content-between pb-1">
                                    <div class="d-flex align-items-center gap-2 ">
                                        <img src="/assets/images/avatar-2.png" alt="avatar" width="32"
                                            class="teacher-cover">
                                        <p class="teacher-name text-black">Kelly Hsu</p>
                                    </div>
                                    <div class="course-price text-end">
                                        <b class="text-primay d-block">NT$ 2,480</b>
                                        <small class="text-neutral-300 text-decoration-line-through">NT$ 3,200</small>
                                    </div>
                                </div>
                                <div
                                    class="d-flex py-1 align-items-center justify-content-between align-content-center text-neutral-300">
                                    <small>已有 420 位同學加入</small>
                                    <div class="d-flex align-content-center">
                                        <span
                                            class="fs-sm material-symbols-outlined icon-filled text-warning">star</span>
                                        <span class="fs-sm text-black d-inline-block">4.0 </span> (333)
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="courses-detail.html" class="d-flex gap-2 border-top pt-3">
                            <div class="course-cover position-relative">
                                <span class="badge text-bg-alert fw-normal position-absolute">8折</span>
                                <img src="/assets/images/course-5.png" alt="小白也會！從零開始學習 Python 程式設計" width="100"
                                    height="100" class="object-fit-cover rounded">
                            </div>
                            <div class="course-text">
                                <p class="mb-3 fw-semibold text-black">小白也會！從零開始學習 Python 程式設計</p>
                                <div class="d-flex border-bottom justify-content-between pb-1">
                                    <div class="d-flex align-items-center gap-2 ">
                                        <img src="/assets/images/avatar-2.png" alt="avatar" width="32"
                                            class="teacher-cover">
                                        <p class="teacher-name text-black">Kelly Hsu</p>
                                    </div>
                                    <div class="course-price text-end">
                                        <b class="d-block text-neutral-300 fw-semibold">已購買</b>
                                        <small class="text-neutral-300 text-decoration-line-through">NT$ 3,200</small>
                                    </div>
                                </div>
                                <div
                                    class="d-flex py-1 align-items-center justify-content-between align-content-center text-neutral-300">
                                    <small>已有 420 位同學加入</small>
                                    <div class="d-flex align-content-center">
                                        <span
                                            class="fs-sm material-symbols-outlined icon-filled text-warning">star</span>
                                        <span class="fs-sm text-black d-inline-block">4.0 </span> (333)
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="courses-detail.html" class="d-flex gap-2 border-top pt-3">
                            <div class="course-cover position-relative">
                                <span class="badge text-bg-alert fw-normal position-absolute">8折</span>
                                <img src="/assets/images/course-5.png" alt="小白也會！從零開始學習 Python 程式設計" width="100"
                                    height="100" class="object-fit-cover rounded">
                            </div>
                            <div class="course-text">
                                <p class="mb-3 fw-semibold text-black">小白也會！從零開始學習 Python 程式設計</p>
                                <div class="d-flex border-bottom justify-content-between pb-1">
                                    <div class="d-flex align-items-center gap-2 ">
                                        <img src="/assets/images/avatar-2.png" alt="avatar" width="32"
                                            class="teacher-cover">
                                        <p class="teacher-name text-black">Kelly Hsu</p>
                                    </div>
                                    <div class="course-price text-end">
                                        <b class="text-primay d-block">NT$ 2,480</b>
                                        <small class="text-neutral-300 text-decoration-line-through">NT$ 3,200</small>
                                    </div>
                                </div>
                                <div
                                    class="d-flex py-1 align-items-center justify-content-between align-content-center text-neutral-300">
                                    <small>已有 420 位同學加入</small>
                                    <div class="d-flex align-content-center">
                                        <span
                                            class="fs-sm material-symbols-outlined icon-filled text-warning">star</span>
                                        <span class="fs-sm text-black d-inline-block">4.0 </span> (333)
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <form class="search-group d-flex align-items-center px-1 position-relative rounded-4 " role="search">
            <span class="material-symbols-outlined position-absolute top-50 translate-middle-y ">search</span>
            <input class="form-control border-0 ps-7 py-4 bg-white" type="search" placeholder="搜尋各種音樂、數學、程式及設計課程"
                aria-label="Search">
            <button class="btn btn-primary py-2 flex-shrink-0" type="submit">搜尋</button>
        </form>

        <div class="ms-auto d-flex gap-1 align-items-center">
            <div class="dropdown">
                <button class="btn dropdown-toggle dropdown-not-arrow position-relative" type="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="position-relative lh-1">
                        <span class="material-symbols-outlined">notifications</span>
                        <span
                            class="position-absolute top-0 start-100 translate-middle bg-primary border border-light rounded-circle"
                            style="padding: 4px;">
                            <span class="visually-hidden">New alerts</span>
                        </span>
                    </div>
                </button>
                <ul class="dropdown-menu notify-menu start-50 translate-middle-x mt-6 bg-white">
                    <li>
                        <a class="dropdown-item fs-sm  border-bottom link-primary d-flex align-items-center justify-content-end gap-2"
                            href="#">
                            <span
                                class="material-symbols-outlined fs-xs rounded-circle bg-primary text-white">check_small</span>
                            全部標記為已讀
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-start gap-3 px-3" href="#">
                            <span class="material-symbols-outlined p-2 bg-info-100 rounded-circle  text-info">
                                campaign
                            </span>
                            <div class="text-wrap">
                                <p class="mb-2">
                                    系統通知：6 月 30 日 02:00 網站系統排程更新
                                </p>
                                <time datetime="" class="text-neutral-300 fs-sm">4 天前</time>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-start gap-3 px-3" href="#">
                            <span class="material-symbols-outlined p-2 bg-alert-100 rounded-circle  text-alert">
                                notifications_active
                            </span>
                            <div class="text-wrap">
                                <p class="mb-2">
                                    募資開課：您購買的募資課程已成功開課！將於 3 天後公布課綱！
                                </p>
                                <time datetime="" class="text-neutral-300 fs-sm">7 天前</time>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-start gap-3 px-3" href="#">
                            <span class="material-symbols-outlined p-2 bg-alert-100 rounded-circle  text-alert">
                                notifications_active
                            </span>
                            <div class="text-wrap">
                                <p class="mb-2">
                                    募資開課：您購買的募資課程已成功開課！將於 3 天後公布課綱！
                                </p>
                                <time datetime="" class="text-neutral-300 fs-sm">7 天前</time>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <a href="cart.html" class="btn px-2 py-1 p-0 lh-1">
                <div class="position-relative">
                    <span class="material-symbols-outlined">shopping_cart</span>
                    <span
                        class="position-absolute top-0 start-100 translate-middle badge px-1 bg-primary border border-white border-1">
                        2
                        <span class="visually-hidden">unread messages</span>
                    </span>
                </div>
            </a>
            <a href="login.html" class="btn btn-primary px-6">登入 / 註冊</a>
            <div class="dropdown position-static">
                <a href="#" class="dropdown-toggle d-flex align-items-center  dropdown-not-arrow"
                    data-bs-toggle="dropdown" role="button">
                    <div class="flex-shrink-0">
                        <img src="/assets/images/avatar-1.png" alt="avatar" width="44">
                    </div>
                    <div class="flex-grow-1 ms-3 text-neutral-400 fw-semibold">
                        Jessica
                    </div>
                </a>

                <ul class="dropdown-menu position-absolute top-100 end-0 mt-1" style="left: auto; width: 237px;">
                    <li class="pt-1">
                        <a class="dropdown-item-text d-flex align-items-center border-bottom px-2 py-1" href="#">
                            <div class="flex-shrink-0">
                                <img src="/assets/images/avatar-1.png" alt="avatar" width="44">
                            </div>
                            <div class="flex-grow-1 ms-3 text-neutral-400 fw-semibold">
                                Jessica
                                <small class="d-block text-neutral-300 fw-normal">學習初心者</small>
                            </div>
                        </a>
                    </li>
                    <li class="px-2 py-3 pt-3 border-bottom">
                        <a class="btn btn-light d-flex align-items-center gap-1" href="#">
                            <span class="material-symbols-outlined">account_circle</span>個人檔案
                        </a>
                        <a class="btn btn-light d-flex align-items-center gap-1" href="#">
                            <span class="material-symbols-outlined icon-filled">bookmark</span>我的收藏
                        </a>
                        <a class="btn btn-light d-flex align-items-center gap-1" href="#">
                            <span class="material-symbols-outlined">settings</span>帳號設定
                        </a>
                    </li>
                    <li class="px-2 py-3 pt-3 border-bottom">
                        <a class="btn btn-light d-flex align-items-center gap-1" href="member-courses.html">
                            <span class="material-symbols-outlined icon-filled">folder</span>我的課程
                        </a>
                        <a class="btn btn-light d-flex align-items-center gap-1" href="#">
                            <span class="material-symbols-outlined">list_alt</span>訂單記錄
                        </a>
                        <a class="btn btn-light d-flex align-items-center gap-1" href="#">
                            <span class="material-symbols-outlined icon-filled">edit</span>作業成果
                        </a>
                    </li>
                    <li class="px-2 py-3 pb-5 pt-3 border-bottom">
                        <a class="btn btn-light d-flex align-items-center gap-1" href="#">
                            <span class="material-symbols-outlined">logout</span>登出
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <nav class="mobile-navbar d-lg-none navbar bg-body-tertiary fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html">
                <img src="/assets/images/logo.png" alt="L'Learning">
            </a>
            <div class="ms-auto d-flex align-items-center">
                <div class="dropdown position-static">
                    <button class="btn dropdown-toggle dropdown-not-arrow" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <div class="position-relative lh-1">
                            <span class="material-symbols-outlined">notifications</span>
                            <span
                                class="position-absolute top-0 start-100 translate-middle bg-primary border border-light rounded-circle"
                                style="padding: 4px;">
                                <span class="visually-hidden">New alerts</span>
                            </span>
                        </div>
                    </button>
                    <ul class="dropdown-menu bg-white vw-100 position-absolute top-0 mt-10 start-0 border-radius-0">
                        <li>
                            <a class="dropdown-item fs-sm  border-bottom link-primary d-flex align-items-center justify-content-end gap-2"
                                href="#">
                                <span
                                    class="material-symbols-outlined fs-xs rounded-circle bg-primary text-white">check_small</span>
                                全部標記為已讀
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-start gap-3 px-3" href="#">
                                <span class="material-symbols-outlined p-2 bg-info-100 rounded-circle  text-info">
                                    campaign
                                </span>
                                <div class="text-wrap">
                                    <p class="mb-2">
                                        系統通知：6 月 30 日 02:00 網站系統排程更新
                                    </p>
                                    <time datetime="" class="text-neutral-300 fs-sm">4 天前</time>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-start gap-3 px-3" href="#">
                                <span class="material-symbols-outlined p-2 bg-alert-100 rounded-circle  text-alert">
                                    notifications_active
                                </span>
                                <div class="text-wrap">
                                    <p class="mb-2">
                                        募資開課：您購買的募資課程已成功開課！將於 3 天後公布課綱！
                                    </p>
                                    <time datetime="" class="text-neutral-300 fs-sm">7 天前</time>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-start gap-3 px-3" href="#">
                                <span class="material-symbols-outlined p-2 bg-alert-100 rounded-circle  text-alert">
                                    notifications_active
                                </span>
                                <div class="text-wrap">
                                    <p class="mb-2">
                                        募資開課：您購買的募資課程已成功開課！將於 3 天後公布課綱！
                                    </p>
                                    <time datetime="" class="text-neutral-300 fs-sm">7 天前</time>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <a href="cart.html" class="btn py-2 px-3">
                    <div class="position-relative lh-1">
                        <span class="material-symbols-outlined">shopping_cart</span>
                        <span
                            class="position-absolute top-0 start-100 translate-middle badge px-1 bg-primary border border-white border-1">
                            2<span class="visually-hidden">unread messages</span>
                        </span>
                    </div>
                </a>
                <button class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <ul class="nav nav-underline nav-justified border-bottom">
                    <li class="nav-item">
                        <a class="nav-link py-3 px-0 active" data-bs-toggle="tab" href="#tab-pane-navbar">探索</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-3 px-0" data-bs-toggle="tab" href="#tab-pane-member">我的會員</a>
                    </li>
                </ul>
                <div class="tab-content h-100">
                    <div class="tab-pane fade show active" id="tab-pane-navbar" tabindex="0">
                        <div class="tab-pane-meun position-relative">
                            <ul class="tab-nav-menu-list tab-nav-menu-list__first list-unstyled px-3 py-5">
                                <li class="mb-1"><span class="tab-nav-item-text">探索全部</span></li>
                                <li><a class="tab-nav-item dropdown-toggle" href="#">音樂</a></li>
                                <li><a class="tab-nav-item dropdown-toggle" href="#">攝影</a></li>
                                <li>
                                    <a class="tab-nav-item dropdown-toggle" data-bs-toggle="dropdown"
                                        aria-expanded="false" href="#">程式</a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item-text dropdown-item-back text-center" href="#">
                                                程式入門
                                            </a>
                                        </li>
                                        <li><a class="dropdown-item" href="#">網頁前端</a></li>
                                        <li><a class="dropdown-item" href="#">網頁後端</a></li>
                                        <li><a class="dropdown-item" href="#">網站架設</a></li>
                                        <li><a class="dropdown-item" href="#">資訊安全</a></li>
                                        <li><a class="dropdown-item" href="#">程式語言</a></li>
                                        <li><a class="dropdown-item" href="#">遊戲開發</a></li>
                                        <li><a class="dropdown-item" href="#">資料科學</a></li>
                                        <li><a class="dropdown-item" href="#">人工智慧</a></li>
                                        <li><a class="dropdown-item" href="#">量化分析</a></li>
                                    </ul>

                                </li>

                                <li><a class="tab-nav-item dropdown-toggle" href="#">藝術</a></li>
                                <li><a class="tab-nav-item dropdown-toggle" href="#">人文</a></li>
                                <li><a class="tab-nav-item dropdown-toggle" href="#">行銷</a></li>
                                <li><a class="tab-nav-item dropdown-toggle" href="#">投資理財</a></li>
                                <li><a class="tab-nav-item dropdown-toggle" href="#">心靈成長</a></li>
                                <li><a class="tab-nav-item dropdown-toggle" href="#">職場技能</a></li>
                                <li><a class="tab-nav-item dropdown-toggle" href="#">生活品味</a></li>
                            </ul>
                        </div>
                        <div class="px-5 py-2 border-top position-absolute bottom-0 w-100 bg-white">
                            <a class="btn btn-primary d-flex align-items-center gap-1  py-2 px-5 w-100 " href="login.html">
                                登入 / 註冊
                            </a>
                        </div>
                    </div>
                    <div class="tab-pane fade position-relative" id="tab-pane-member" tabindex="0">
                        <ul class="tab-pane-meun list-unstyled mb-0 px-3 py-5">
                            <li>
                                <a class="d-flex align-items-center border-bottom pb-3" href="#">
                                    <div class="flex-shrink-0">
                                        <img src="/assets/images/avatar-1.png" alt="avatar" width="44">
                                    </div>
                                    <div class="flex-grow-1 ms-3 text-neutral-400 fw-semibold">
                                        Jessica
                                        <small class="d-block text-neutral-300 fw-normal">學習初心者</small>
                                    </div>
                                </a>
                            </li>
                            <li class="py-3 pt-3 border-bottom">
                                <a class="btn btn-light d-flex align-items-center gap-1" href="#">
                                    <span class="material-symbols-outlined">account_circle</span>個人檔案
                                </a>
                                <a class="btn btn-light d-flex align-items-center gap-1" href="#">
                                    <span class="material-symbols-outlined icon-filled">bookmark</span>我的收藏
                                </a>
                                <a class="btn btn-light d-flex align-items-center gap-1" href="#">
                                    <span class="material-symbols-outlined">settings</span>帳號設定
                                </a>
                            </li>
                            <li class="px-2 py-3 pt-3 ">
                                <a class="btn btn-light d-flex align-items-center gap-1" href="member-courses.html">
                                    <span class="material-symbols-outlined icon-filled">folder</span>我的課程
                                </a>
                                <a class="btn btn-light d-flex align-items-center gap-1" href="#">
                                    <span class="material-symbols-outlined">list_alt</span>訂單記錄
                                </a>
                                <a class="btn btn-light d-flex align-items-center gap-1" href="#">
                                    <span class="material-symbols-outlined icon-filled">edit</span>作業成果
                                </a>
                            </li>
                        </ul>
                        <div class="px-5 py-2 border-top position-absolute bottom-0 w-100 bg-white">
                            <a class="btn btn-light d-flex align-items-center gap-1  py-2 px-5 w-100 " href="index.html">
                                <span class="material-symbols-outlined">logout</span>登出
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>